.contacts__item {
  font-size: 14px;
  line-height: 30px;

  &--address {
    font-style: normal;
  }
}

.contacts__link {
  color: @medium-grey;
  text-decoration: none;
  border-bottom: 1px solid @decorative-green;
  padding-bottom: 5px;
}

.contacts__button {
  .button;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
