.product {
  &__link {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: @basic-black;
    text-decoration: none;
  }

  &__description {
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    font-weight: 700;
    color: @basic-black;
  }
}
