.product__description-container {
  padding: 22px 28px;
}

.product__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
  text-decoration: none;
}

.product__description {
  margin: 0;
  padding-top: 5px;
  font-size: 13px;
  line-height: 30px;
}

.product__price-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 28px;
}

.product__price {
  font-weight: 700;
  color: @basic-black;
}

.product__button {
  padding: 0;
  background-color: transparent;
  border: none;
}
