.reviews {
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: @basic-black;
  }

  &__text {
    line-height: 30px;
  }

  &__name {
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: @basic-black;
  }

  &__nickname {
    font-size: 17px;
    line-height: 30px;
  }

  &__button {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }
}
