.week-product {
  width: 260px;
  margin: 0 auto;
  padding: 33px 30px 36px 30px;
}

.week-product__title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-black;
}

.week-product__label {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-green;
  text-transform: uppercase;
}

.week-product__description {
  padding-bottom: 30px;
}

.week-product__features {
  width: 260px;
  min-height: 125px;
  padding-top: 2px;
}
.week-product__data {
  padding-left: 15px;
}

.week-product__price {
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.week-product__button {
  .button();
  display: block;
  padding: 14px 70px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}
