@basic-white: #ffffff;
@basic-black: #000000;
@medium-grey: #444444;
@light-grey: #ececec;
@dark-grey: #231f20;
@background-grey: #f1f1f1;
@decorative-grey: #e5e5e5;
@basic-green: #63d1bb;
@medium-green: #56c3b2;
@dark-green: #149080;
@decorative-green: #62d1ba;
@link-hover: #46c1ae;
@light-button-hover: #59d5bc;

//Вспомогательные цвета для временной обводки
@red: rgba(255, 46, 0, 0.5);
@blue: rgba(0, 119, 255, 0.5);
@green: rgba(0, 255, 80, 0.5);
@pink: rgba(255, 0, 234, 0.5);
