.contacts {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 42px;

  iframe {
    margin-bottom: 30px;
  }
}

.contacts-container {
  width: 260px;
  padding: 55px 30px 36px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: @basic-black;
}

.contacts__address {
  padding: 28px 0;
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;

  &--address {
    font-style: normal;
  }

  p {
    margin: 0;
  }
}

.contacts__link {
  color: @medium-grey;
  text-decoration: none;
  border-bottom: 1px solid @decorative-green;
  padding-bottom: 5px;
}

.contacts__button {
  .button;
  display: block;
  width: 158px;
  margin: 0 auto;
  padding: 14px 50px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
