.copyright__title {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-black;
}

.copyright__link:hover path {
  fill: @link-hover;
}

.copyright__link:active path {
  opacity: 0.3;
}
