.disclaimer-container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 225px;
  }
}
