.index-cover {
  //height: 489px;
  background-color: @index-background;

  @media (min-width: @tablet-width) {
    height: 758px;
  }

  @media (min-width: @desktop-width) {
    //height: 770px;
  }
}

.index-cover__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 54px;
  text-align: center;
  background-image: url("../img/index-background-small.jpg");
  background-position: 50% -18px;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-small@2x.jpg");
    background-position: 50% -18px;
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding-top: 52px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../img/index-background-medium.jpg");
    background-position: 50% top;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-medium@2x.jpg");
      background-position: 50% top;
      background-size: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    background-image: url("../img/index-background-large.jpg");
    background-position: 50% top;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-large@2x.jpg");
      background-position: 50% top;
      background-size: 100%;
    }
  }
}

.index-cover__title {
  padding-bottom: 98px;
  padding-right: 7px;
  padding-left: 7px;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 275px;
    padding-top: 69px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 258px;
    padding-top: 60px;
    font-size: 53px;
    line-height: 57px;
  }
}

.index-cover__nav {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.index-cover__item {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 79px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-white;
  text-decoration: none;

  &--interior {
    background-color: @basic-green;
    .cover-button();
  }

  &--toys {
    background-color: @medium-green;
    .cover-button();
  }

  @media (min-width: @tablet-width) {
    width: 298px;
    height: 104px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
  }
}

.index-cover__item--interior svg {
  margin-right: 35px;
  fill: @dark-green;
  opacity: 0.5;

  @media (min-width: @tablet-width) {
    margin-right: 37px;
    margin-top: 5px;
  }
}

.index-cover__item--toys svg {
  margin-right: 27px;
  fill: @dark-green;
  opacity: 0.5;

  @media (min-width: @tablet-width) {
    margin-right: 35px;
    margin-top: 6px;
  }
}

.index-cover__item--interior:hover {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -5px;
    background-color: @light-button-hover;
    cursor: pointer;
  }
}

.index-cover__item--toys:hover {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -5px;
    background-color: @link-hover;
    cursor: pointer;
  }
}

.index-cover__item--toys:hover svg,
.index-cover__item--interior:hover svg {
  @media (min-width: @tablet-width) {
    opacity: 0.7;
  }
}

.index-cover__item--interior:active svg,
.index-cover__item--toys:active svg {
  @media (min-width: @tablet-width) {
    opacity: 0.3;
  }
}
