.main-nav.main-nav--nojs {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
  }
}

.main-nav {
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @basic-white;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2px;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    min-width: 1050px;
    padding-top: 32px;
    padding-bottom: 8px;
  }
}

.main-nav__list {
  .reset-list ();
  padding: 0;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .nav-toggle--nojs {
    display: none;
  }
}
