.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  margin: 0 auto;
  padding: 30px 30px 50px;
  background-color: @basic-white;
  box-shadow: 0 5px 10px @shadow-grey;
  z-index: 5;

  @media (min-width: @tablet-width) {
    width: 354px;
    padding: 40px 107px 50px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 12px;
  }
}

.modal-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__button {
  padding: 17px 82px;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  color: @basic-white;
  background-color: @basic-green;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 129px;
    padding-right: 129px;

    &:hover {
      background-color: @medium-green;
    }

    &:active {
      background-color: @dark-green;
    }
  }
}

.modal__show {
  display: block;
}
