.order-form-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin: 0 auto;
  }
}
