.page-footer {
  background-color: @background-grey;
}

.page-footer__container {
  width: 260px;
  margin: 0 auto;
  padding: 24px 30px 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    padding: 56px 0 18px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    cursor: pointer;

    &:hover path {
      fill: @link-hover;
    }
  }
}

.social__list {
  .reset-list();
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0 60px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 140px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 2px;
  }
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin: 0;
}

.social__link:hover path {
  fill: @link-hover;
}

.social__link:active path {
  opacity: 0.3;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 40px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__title {
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-right: 28px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}
