.production__container {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-top: 20px;
  padding-bottom: 32px;
  box-sizing: border-box;
  border: 1px solid @light-grey;

  &:hover {
    box-shadow: 0 6px 10px rgba(@basic-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@basic-black, 0.1);
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 0 0 46px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    padding: 0;
    margin-bottom: 100px;
  }
}

.production__title {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 38px;
    padding-left: 106px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    padding: 0;
    padding-top: 96px;
    width: 200px;
    margin-bottom: 25px;
  }
}

.production__description {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 36px;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
    padding: 25px 10px 0 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
    padding: 2px 48px 0 0;
    width: 240px;
  }
}

.production__preview {
  position: relative;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-preview-small.jpg");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-preview-small@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
    order: -1;
    background-image: url("../img/video-preview-medium.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-preview-medium@2x.jpg");
  }

  @media (min-width: @desktop-width) {
    width: 682px;
    margin-right: 80px;
    background-image: url("../img/video-preview-large.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-preview-large@2x.jpg");
  }
}

.production__preview-button {
  position: absolute;
  top: 37px;
  left: 82px;
  width: 100px;
  height: 76px;
  background-image: url("../img/icon/icon-video-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 188px;
    left: 284px;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    top: 192px;
    left: 292px;
  }
}

.production__button {
  .button();
  display: block;
  margin: 0 auto;
  width: 152px;
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 146px;
    margin: 0 auto;
    padding: 16px 212px 16px 222px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 144px;
    margin: 0;
    padding: 17px 42px;
  }
}
