.product {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    height: 610px;
  }
}

.product__image-link {
  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 316px;
    height: 462px;
  }
}

.product__description-container {
  padding: 22px 28px;

  @media (min-width: @tablet-width) {
    width: 302px;
    padding: 28px 0 0 33px;
  }

  @media (min-width: @desktop-width) {
    width: 286px;
    min-height: 93px;
    padding: 28px 0 0 28px;
  }
}

.product__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.product__description {
  margin: 0;
  padding-top: 5px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.product__price-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 28px;

  @media (min-width: @tablet-width) {
    padding: 9px 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 11px;
    padding-left: 28px;
    padding-right: 32px;
  }
}

.product__price {
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product__button {
  padding: 0;
  background-color: transparent;
  border: none;
}
