.reviews {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px 45px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 4px;
    padding-bottom: 80px;
  }
}

.reviews__wrapper {
  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding: 73px 50px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    background-image: url("../img/reviews-background.jpg");
    background-position: top left;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews-background@2x.jpg");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 45%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 875px;
    padding-left: 225px;
    padding-bottom: 100px;
    background-position: top left 6%;

    @media (min-resolution: 2dppx) {
      background-size: 31%;
    }
  }
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    padding-top: 2px;
    font-size: 43px;
    line-height: 50px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
    padding-top: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  .reset-list();
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }
}

.reviews__name {
  margin-bottom: 25px;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__nickname {
  margin: 0;
  padding-top: 3px;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button {
  .button;
  padding: 12px 78px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 123px;
    padding: 14px 24px;
    text-align: center;
    order: 1;
  }
}

.reviews__button:focus {
  outline: 5px solid @dark-green;
}
