.site-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    position: absolute;
    top: 88px;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    position: static;

    &::after {
      position: absolute;
      bottom: 0;
      left: 184px;
      content: "";
      width: 1px;
      height: 88px;
      background-color: rgba(@basic-black, 0.1);
    }
  }
}

.site-nav__item {
  position: relative;
  min-height: 47px;
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 47px;
  //
  //&::before {
  //  position: absolute;
  //  top: 3px;
  //  left: -30px;
  //  content: "";
  //  height: 1px;
  //  width: 320px;
  //  background-color: @decorative-grey;
  //
  //  @media (min-width: @tablet-width) {
  //    display: none;
  //  }
  //}

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 70px;
  }
}

.site-nav__item:last-child {
  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.site-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link:focus-visible {
  outline: 2px solid rgba(@basic-green, 0.7);
  outline-offset: 1px;
}

.site-nav__link:active {
  opacity: 0.3;
}
