.site-nav-sub {
  .reset-list();
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    position: absolute;
    bottom: -64px;
    left: 0;
  }
}

.site-nav-sub__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
  text-decoration: none;
}
