.slider {
  margin-bottom: 48px;
  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__controls {
  padding-top: 30px;
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.slider__control {
  width: 128px;
  height: 52px;
  margin: 0;
  background-color: @basic-white;
  border: 1px solid @light-grey;
}
