.slider {
  margin-bottom: 48px;
  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0;
    order: 2;
  }
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__controls {
  padding-top: 30px;
  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    width: 135px;
  }
}

.slider__control {
  width: 128px;
  height: 52px;
  margin: 0;
  background-color: @basic-white;
  border: 1px solid @light-grey;
  @media (min-width: @tablet-width) {
    width: 50px;
    height: 26px;
  }
}
