.user-nav {
  margin-left: -25px;

  @media (min-width: @tablet-width) {
    order: -1;
    display: flex;
    margin-left: 320px;
  }

  @media (min-width: @desktop-width) {
    //margin: 0;
    justify-content: flex-end;
    justify-self: right;
  }
}

.user-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-black;
  text-decoration: none;
  display: flex;
  margin: 0;
}

.user-nav__search svg {
  padding-top: 3px;
  padding-right: 27px;
  padding-left: 2px;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 4px;
  }
}

.user-nav__cart svg {
  padding-top: 3px;
  padding-right: 27px;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
    padding-right: 0;
  }
}

.user-nav__search {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 33px;
    padding-right: 32px;

    &::before {
      position: absolute;
      left: 0;
      top: -34px;
      content: "";
      width: 1px;
      height: 88px;
      background-color: rgba(@basic-black, 0.1);

      @media (min-width: @desktop-width) {
        left: -2px;
      }
    }
  }
}

.user-nav__cart {
  position: relative;

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -34px;
      left: 0;
      width: 1px;
      height: 88px;
      background-color: rgba(@basic-black, 0.1);
    }

    @media (min-width: @desktop-width) {
      left: -2px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 32px;
  }
}

.user-nav__item {
  position: relative;
  min-height: 47px;
  padding-top: 32px;
  padding-bottom: 0;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    height: 1px;
    width: calc(100vw);
    background-color: rgba(@basic-black, 0.1);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 13px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.user-nav__text {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    &--search {
      display: none;
    }

    &--cart {
      padding-left: 30px;
    }
  }
}

.user-nav__link:hover .user-nav__text {
  opacity: 0.6;
}

.user-nav__link:hover svg {
  fill: @basic-green;
  opacity: 1;
}

.user-nav__link:focus-visible {
  outline: 2px solid rgba(@basic-green, 0.7);
  outline-offset: 1px;
}

.user-nav__link:active .user-nav__text,
.user-nav__link:active svg {
  opacity: 0.3;
}
